<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <!-- Serve static files _if they exist_ -->
      <rule name="StaticContent">
        <match url="(.*)" />
        <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsFile" />
        </conditions>
        <action type="Rewrite" url="public/{R:1}" />
      </rule>

      <!-- Everything else goes to Node/Express -->
      <rule name="DynamicContent">
        <match url=".*" />
        <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.js" />
      </rule>
    </rewrite>

    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration>
